
    <app-card  [classHeader]="true">
        <table #dataTable class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Provider</th>
                    <th>Price</th>
                    <th>Project</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button class="btn btn-danger btn-outline-danger"><i class="fa fa-trash" ></i></button>
                            <button class="btn btn-success btn-outline-success"><i class="fa fa-edit" ></i></button>

                          </div>
                    </td>
                </tr>
                <tr>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>63</td>
                    <td>2011/07/25</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button class="btn btn-danger btn-outline-danger"><i class="fa fa-trash" ></i></button>
                            <button class="btn btn-success btn-outline-success"><i class="fa fa-edit" ></i></button>

                          </div>
                    </td>
             </tr>
             <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-danger btn-outline-danger"><i class="fa fa-trash" ></i></button>
                        <button class="btn btn-success btn-outline-success"><i class="fa fa-edit" ></i></button>

                      </div>
                </td>
         </tr> <tr>
            <td>Garrett Winters</td>
            <td>Accountant</td>
            <td>Tokyo</td>
            <td>63</td>
            <td>2011/07/25</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button class="btn btn-danger btn-outline-danger"><i class="fa fa-trash" ></i></button>
                    <button class="btn btn-success btn-outline-success"><i class="fa fa-edit" ></i></button>

                  </div>
            </td>
     </tr> <tr>
        <td>Garrett Winters</td>
        <td>Accountant</td>
        <td>Tokyo</td>
        <td>63</td>
        <td>2011/07/25</td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-danger btn-outline-danger"><i class="fa fa-trash" ></i></button>
                <button class="btn btn-success btn-outline-success"><i class="fa fa-edit" ></i></button>

              </div>
        </td>
 </tr> <tr>
    <td>Garrett Winters</td>
    <td>Accountant</td>
    <td>Tokyo</td>
    <td>63</td>
    <td>2011/07/25</td>
    <td>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-danger btn-outline-danger"><i class="fa fa-trash" ></i></button>
            <button class="btn btn-success btn-outline-success"><i class="fa fa-edit" ></i></button>

          </div>
    </td>
</tr> <tr>
    <td>Garrett Winters</td>
    <td>Accountant</td>
    <td>Tokyo</td>
    <td>63</td>
    <td>2011/07/25</td>
    <td>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-danger btn-outline-danger"><i class="fa fa-trash" ></i></button>
            <button class="btn btn-success btn-outline-success"><i class="fa fa-edit" ></i></button>

          </div>
    </td>
</tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Provider</th>
                    <th>Price</th>
                    <th>Project</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
        <br>
        <button class="float-right btn btn-success btn-outline-success"><i class="icofont icofont-plus"></i>Add new Instance</button>
<br>
<br>
    </app-card>

